<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="orders">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Orders</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="update">
      <ion-icon name="refresh-outline"></ion-icon>
      <ion-label>Update Stock</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Turnover">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Turnover</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
